@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image:linear-gradient(to bottom, #C4A893, #D6C4BA) ;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(153, 132, 117, 0.753);
    width: 600px;
    padding: 10px;
    margin: auto;
}

p{
    text-align: justify;
}
h1{
    text-align: center;
    color: #B08759;
    text-shadow: 1px 1px 2px #886945d3;
}
h2{
    color: #191813;
}